#RenderedCountryList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 10px;
    border-radius: 5px;
}

.CountryBtn {
    padding: 0;
    margin: 0;
    border: none;
}

.CountryPreviewBox {
    border-radius: 5px;
}

#Search {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    border: none;
    margin-left: 50px;
}

input {
    border: none;
    width: 300px;
    margin-left: 20px;
}


.InputLight {
    background: hsl(0, 100%, 100%);
    color: hsl(200, 15%, 8%);
}

.InputDark {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: none;
}

select {
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    border: none;
    margin-right: 50px;
}

#InputArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: start;
}

@media (max-width: 750px) {
    #RenderedCountryList {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #InputArea {
        flex-direction: column;
    }

    input {
        width: 80%;

    }

    #Search {
        width: 75%;
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-bottom: 10%;
        padding-left: 8%;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    #Selection {
        width: 50%;
        margin-left: 10%;
        margin-bottom: 20%;
        padding: 5%;
    }

}