.CountryPreview {
    width: 250px;
    height: 300px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: center;


}

.CountryPreview:hover {
    cursor: pointer;
    border: solid black;
    border-radius: 5px;
}

.PreviewImg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;

}



#PreviewImg {
    width: 250px;
    height: 200px;
    overflow: hidden;

}

#PreviewDetails {
    width: 240px;

    box-shadow: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
}

#CountryImgContainer {
    width: 100%;
    max-width: 400px;

}

#CountryDisplayBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
}

#CountryDisplayArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;

}

#CountryDisplayImg {
    width: 100%;
    height: auto;
    display: block;
}

.CDALight {

    background-color: hsl(0, 100%, 100%);
    color: hsl(200, 15%, 8%);
}

.CDADark {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

#BackBtn {
    box-shadow: 2px 2px 1px grey;
    border-radius: 2px;
    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 10px;
    margin-left: 50px;
}

.BackBtnLight {
    background: hsl(0, 100%, 100%);
}

.BackBtnDark {
    background: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

#CountryBox {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 100px;

}

#CountryBox2 {
    display: flex;
    flex-direction: row;
    text-align: start;

}

.DetailFont {
    font-size: smaller;
}

#BorderBtn {
    border: none;
    padding: 5px 15px 5px 15px
}

#BorderBtn:hover {
    background-color: whitesmoke;
    cursor: pointer;
    color: black;
}

.borderBtnLight {
    background: hsl(0, 100%, 100%);
    color: hsl(200, 15%, 8%);
    box-shadow: 2px 2px 1px grey;
}

.borderBtnDark {
    background: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
    box-shadow: none;
}

#CountryBox3 {
    margin-right: 100px;
}

@media(max-width:750px) {

    #CountryDisplayArea {
        flex-direction: column;
    }

    #CountryBox2 {
        flex-direction: column;
    }
}