.CountryPreview {
    width: 250px;
    height: 300px;
    background: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: center;
}

.CountryPreview:hover {
    cursor: pointer;
    border: solid black;
    border-radius: 5px;
}

.PreviewImg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;

}



#PreviewImg {
    width: 250px;
    height: 200px;
    overflow: hidden;

}

#PreviewDetails {
    width: 240px;
    background-color: white;
    box-shadow: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;

}