#root {
  text-align: center;
}


.header h2 {

  padding-top: 5px;

  margin-top: 0;

  font-size: medium;
  align-items: start;

}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header button {
  padding: 0;
  height: 20px;
  margin-top: 5px;
  border: none;
  margin-right: 20px;
  font-size: 10px;
  font-weight: 500;
}

.header button:hover {
  border: solid Black;

}

#headerLight {
  background: white
}

#headerDark {
  background: black;
  color: white;
}

@media(max-width:750px) {
  .header {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
  }
}