#root {
  text-align: center;
}


.header h2 {

  padding-top: 5px;

  margin-top: 0;

  font-size: medium;
  align-items: start;

}

#MainLight {
  background-color: hsl(0, 0%, 99%);
  height: 100vh;

}

#MainDark {
  background-color: hsl(207, 26%, 17%);
  color: white;
  height: auto;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header button {
  padding: 0;
  height: 20px;
  margin-top: 5px;
  border: none;
  margin-right: 20px;
  font-size: 10px;
  font-weight: 500;
}

.header button:hover {
  border: solid Black;

}

#headerLight {
  background: rgb(236, 236, 236);
}

#headerDark {
  background: hsl(209, 23%, 22%);
  color: white;
}

@media(max-width:750px) {
  .header {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
  }

  #MainLight {
    height: auto;
  }

  #MainDark {
    height: auto;
  }

}